<h1>List of all articles</h1>


<%= link_to "Create new article", new_article_path %>

<div class ="row justify-content-center"> 
  <%= will_paginate %> 
</div>

<%= render 'article', obj: @articles %>

<div class ="row justify-content-center"> 
  <%= will_paginate %> 
</div>
